* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
}

#scoreContainer {
    background-color: rgb(32, 32, 32);
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
}
.scoreContainers {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scoreTitles {
    position: relative;
    top: 30%;
    color: rgb(0, 125, 197);
}
.scoreCount {
    position: relative;
    top: 40%;
    font-size: 500%;
    color: rgb(0, 105, 167);
}

#gameContainer {
    background-color: rgb(48, 48, 48);
    flex: 0 0 50%;
}

#historyContainer {
    background-color: rgb(32, 32, 32);
    flex: 0 0 25%;
}














/* .choices {
    height: 100px;
    width: 100px;
}
.choices:hover {
    height: 120px;
    width: 120px;
} */