* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
}



#scoreContainer {
    background-color: rgb(32, 32, 32);
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
}
.scoreContainers {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scoreTitles {
    position: relative;
    top: 30%;
    color: rgb(0, 125, 197);
}
.scoreCount {
    position: relative;
    top: 40%;
    font-size: 500%;
    color: rgb(0, 93, 146);
}



#gameContainer {
    background-color: rgb(48, 48, 48);
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#winnerText {
   position: relative;
   top: 15%; 
   font-size: 500%;
   color: rgb(0, 125, 197);
}

#winnerResult {
    position: relative;
    top: 20%;
    font-size: 335%;
    color: rgb(0, 93, 146);
}

#rpsChoice {
    display: flex;
    position: relative;
    top: 35%;
    width: 100%;
}
.rpsChoices {
    flex: auto;
}

#rock {
    padding: 10%;
}
#rock:hover {
    padding: 5%;
}

#paper {
    padding: 10%;
}
#paper:hover {
    padding: 5%;
}

#scissors {
    padding: 10%;
}
#scissors:hover {
    padding: 5%;
}



#historyContainer {
    background-color: rgb(32, 32, 32);
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}
#historyTitle {
    color: rgb(0, 125, 197);
}
#historyContainer > div {
    color: rgb(0, 93, 146);
}



#playAgain {
    position: relative;
    top: 50%;
    font-size: 300%;
    color: rgb(0, 125, 197);
    display: none;
}
#playAgain:hover {
    font-size: 320%;
}













/* .choices {
    height: 100px;
    width: 100px;
}
.choices:hover {
    height: 120px;
    width: 120px;
} */